*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* styling for head */
header{
    width: 100%;
}
nav{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
}
nav img{
    width: 250px;
}
nav div{
    margin-top: 2vh;
}
nav div ul{
    list-style-type: none;
    display: flex;
    width: 500px;
    justify-content: space-between;
}
nav div ul li a{
    text-decoration: none;
    color: black;
}
nav div ul li:nth-child(4) div ul{
    display: none;
}
nav div ul li:nth-child(4) div{
    position: absolute;
    top: 6vh;
}
nav div ul li:nth-child(4):hover div ul{
    display: block;
    font-size: 15px;
    height: 20vh;
    width: 100%;
    background-color: white;
    line-height: 2;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 3px gray;
}
nav div ul li:nth-child(5) div ul{
    display: none;
}
nav div ul li:nth-child(5) div{
    position: absolute;
    top: 6vh;
}
nav div ul li:nth-child(5):hover div ul{
    display: block;
    font-size: 15px;
    height: 15vh;
    width: 100%;
    background-color: white;
    line-height: 2;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 3px gray;
}
nav div ul li:nth-child(6) div ul{
    display: none;
}
nav div ul li:nth-child(6) div{
    position: absolute;
    top: 6vh;
}
nav div ul li:nth-child(6):hover div ul{
    display: block;
    font-size: 15px;
    height: 20vh;
    width: 100%;
    background-color: white;
    line-height: 2;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 3px gray;
}
#button1{
    width: 140px;
    height: 6vh;
    border: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.162);
}
#button:hover{
    color: white;
    background-color: black;
}
#bars{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5vh;
    display: none;
}
/* CSS for section1 */
#section1{
    width: 650px;
    height: 70vh;
    margin-left: 18%;
    margin-top: 5vh;
}
#section1 h1{
    font-size: 110px;
    color: #FB9129;
    line-height: 16vh;
}
#section1 h1 span{
    color: black;
}
#section1 p{
    font-size: 23px;
}
#button2{
    width: 140px;
    height: 8vh;
    border: none;
    margin-left: 18%;
}
/* CSS for section2 */
#section2{
    display: flex;  
    justify-content: space-between;
}
#section2 div:nth-child(1){
    width: 60%;
}
#section2 div:nth-child(1) p{
    width: 100%;
    font-size: 2opx;
    margin-top: 3vh;
    display: none;
}
#section2 div:nth-child(1) img{
    width: 100%;
    margin-top: 7vh;
}
#section2 div:nth-child(2){
    width: 37%;
}
#section2 div:nth-child(2) img{
    width: 100%;
    margin-top: -10vh;
}
#section2 div:nth-child(2) p{
    width: 100%;
    height: 25vh;
    margin-top: 10vh;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.74);
}
#section2o2{
    width: 80%;
    margin: auto;
    margin-top: 15vh;
}
#section2o2 p{
    font-size: 20px;
}
#section2o2 div{
    display: flex;
    width: 100%;
    gap: 5%;
}
#section2o2 div div:nth-child(1){
    background-image: url('../Images/uber.webp');
    background-repeat: no-repeat;
    background-size: contain;
}
#section2o2 div div:nth-child(2){
    background-image: url('../Images/mtn.webp');
    background-repeat: no-repeat;
    background-size: contain;
}
#section2o2 div div:nth-child(3){
    background-image: url('../Images/chipper.webp');
    background-repeat: no-repeat;
    background-size: contain;
}
#section2o2 div div:nth-child(4){
    background-image: url('../Images/vest.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
#section2o2 div div:nth-child(5){
    background-image: url('../Images/wise.webp');
    background-repeat: no-repeat;
    background-size: contain;
}
#section2o2 div div:nth-child(6){
    background-image: url('../Images/microsoft.webp');
    background-repeat: no-repeat;
    background-size: contain;
}
#img{
    width: 15%;
    height: 6vh;
}
#section3o2 h1{
    font-size: 85px;
    color: #FB9129;
    width: 650px;
    line-height: 12vh;
    margin-top: 25vh;
    margin-left: 10%;
}
#section3o2 h1 span{
    color: black;
}
#section4o2{
    height: 110vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#section4o2 div h1{
    color: black;
    font-size: 30px;
    margin-left: 0;
    line-height: 7vh;
    margin-top: 0;
    width: 80%;
}
#section4o2 div p{
    font-size: 21px;
}
#section4o2 div:nth-child(1){
    margin-top: 30vh;
    margin-left: 5%;
}
#section4o2 div button{
    padding: 10px;
    width: 120px;
}
#section4o2 div:nth-child(3) h1{
    margin-top: 8vh;
}
#section4o2 div:nth-child(3){
    margin-left: -8%;
}
#section4o2 div:nth-child(3) span{
    color: #FB9129;
}
#section4o2 div{
    width: 30%;
    height: 84vh;
    margin-top: 13vh;
}
#section4o2 div:nth-child(2){
    background-image: url('../Images/flutterwave3.webp'); 
    background-size: contain;  
    background-repeat: no-repeat;
}
/* CSS for section3 */
#section3{
    width: 100%;
    height: 390vh;
    background-color: #F8FAFD;
    padding-top: 25vh;
}
#paragraph1{
    font-size: 75px;
    width: 800px;
    margin-left: 10%;
}
#paragraph1 span{
    color: #35A162;
}
#section1o3{
    width: 1000px;
    height: 80vh;
    margin: auto;
    margin-top: 15vh;
}
#section1o3 div:nth-child(1){
    font-size: 21px;
    padding-top: 12vh;
}
#section1o3 div:nth-child(1) button{
    width: 120px;
    padding: 12px;
}
#section1o3 div:nth-child(2){
    background-image: url('../Images/flutterwave4.jpg');
    background-repeat: no-repeat;
}
#section3b{
    width: 100%;
    height: 500vh;
    background-color: #F8FAFD;
    padding-top: 25vh;
    display: none;
}
#section3b h1{
    width: 80%;
    margin: auto;
}
#section1o3b{
    width: 100%;
    height: 120vh;
    margin: auto;
    margin-top: 15vh;
}
#section1o3b div:nth-child(1){
    font-size: 21px;
    padding-top: 12vh;
    width: 80%;
    margin: auto;
}
#section1o3b div:nth-child(1) button{
    width: 120px;
    padding: 12px;
}
#section1o3b div:nth-child(2){
    background-image: url('../Images/flutterwave4.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 80%;
    margin: 5vh auto;
}
#section2o3{
    width: 1200px;
    height: 100vh;
    margin: auto;
    margin-top: -10vh;
}
#section2o3 div:nth-child(1){
    background-image: url('../Images/flutterwave5.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
#section2o3 div:nth-child(2){
    padding-top: 15vh;
    padding-left: 7%;
    font-size: 21px;
}
#section2o3 div:nth-child(2) h4{
    margin-top: 10vh;
}
#section2o3 div:nth-child(2) span{
    color: #FB9129;
    font-size: 18px;
}
#section2o3b{
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-top: 10vh;
}
#section2o3b div:nth-child(1){
    padding-top: 15vh;
    padding-left: 7%;
    font-size: 21px;
}
#section2o3b div:nth-child(1) h4{
    margin-top: 10vh;
}
#section2o3b div:nth-child(1) span{
    color: #FB9129;
    font-size: 18px;
}
#section2o3b div:nth-child(2){
    background-image: url('../Images/flutterwave5.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 80%;
    margin: 5vh auto;
}
#section3o3{
    width: 50%;
    font-size: 20px;
    margin-top: 2vh;
}
#section3o3 span{
    color: #35A162;
}
#section3o3b{
    width: 80%;
    font-size: 20px;
    margin-top: 2vh;
    margin: auto;
}
#section3o3b span{
    color: #35A162;
}
#section4o3{
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    font-size: 80px;
}
#section4o3 span{
    color: #35A162;
}
#section4o3 button{
    padding: 20px;
    width: 150px;
}
#section4o3b{
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    font-size: 60px;
}
#section4o3b span{
    color: #35A162;
}
#section4o3b button{
    padding: 20px;
    width: 150px;
}
/* CSS for section4 */
#section4{
    height: 130vh;
    background-color: #1D1D1D;
    padding-top: 15vh;
}
#section4 h1{
    font-size: 70px;
    width: 600px;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
}
#section4 h1 span{
    color: #F1A5C2;
}
#section4 p{
    color: #FFFFFF;
    width: 600px;
    margin: auto;
    font-size: 21px;
    line-height: 1.5;
    text-align: center;
    margin-top: 5vh;
}
#section1o4{
    display: flex;
    height: 40vh;
    width: 80%;
    margin: 10vh auto;
}
#section1o4 div{
    width: 40%;
    height: 40vh;
    border-radius: 20px;
    background-color: #313131;
    box-shadow: 5px 2px 20px black;
    padding-left: 5%;
    padding-top: 10vh;
    padding-right: 50px;
    position: absolute;
}
#section1o4 div h1{
    font-size: 20px;
    text-align: left;
}
#section4 div p{
    font-size: 15px;
    text-align: left;
    width: 90%;
    margin-top: 2vh;
}
#box1{
    z-index: 1;
    left: 10%;
}
#box2{
    z-index: 2;
    left: 25%;
}
#box3{
    z-index: 3;
    left: 40%;
}
#box1:hover ~ #box2{
    animation-name: slide1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#box1:hover ~ #box3{
    animation-name: slide2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#box2:hover ~ #box3{
    animation-name: slide3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#box2:hover{
    animation-name: slide4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#section1o4b{
    display: none;
    height: 70vh;
    width: 80%;
    margin: 10vh auto;
}
#section1o4b div{
    width: 80%;
    height: 20vh;
    border-radius: 20px;
    background-color: #313131;
    box-shadow: 5px 2px 20px black;
    padding-left: 5%;
    padding-top: 2vh;
    margin: 3vh auto;
}
#section1o4b div h1{
    font-size: 20px;
    text-align: left;
}
#section1o4b div p{
    margin-top: 1vh;
    width: 100%;
}
#section5{
    height: 160vh;
    background-color: #F8FAFD;
    padding-top: 20vh;
    padding-left: 15%;
}
#section5 h1{
    font-size: 75px;
    width: 65%;
}
#section5 h1 span{
    color: #EB7DA7;
}
#section5 p{
    width: 45%;
    font-size: 20px;
    margin-top: 7vh;
}
#section5 ul{
    margin-top: 5vh;
    line-height: 2.5;
    font-size: 20px;
}
#section5 button{
    margin-top: 10vh;
    padding: 22px;
    border-radius: 10px;
}
@keyframes slide1{
    from{left: 25%;}
    to{left: 45%;}
}
@keyframes slide2{
    from{left: 40%;}
    to{left: 55%;}
}
@keyframes slide3{
    from{left: 40%;}
    to{left: 55%;}
}
@keyframes slide4{
    from{left: 25%;}
    to{left: 15%;}
}
/* media query */
@media(max-width: 1200px){
    #section4o2{
        width: 100%;
    }
    #section4o2 div:nth-child(3){
        margin-left: -10%;
        margin-top: 5vh;
    }
    #section4o2 div h1{
        color: black;
        font-size: 20px;
    }
    #section4o2 div p{
        font-size: 17px;
    }
    #section3{
        height: 400vh;
    }
    #section2o3{
        width: 100%;
    }
    #section3o3{
        font-size: 18px;
        margin-top: 2vh;
    }
    #section4o3{
        font-size: 75px;
    }
    #section1o4 div h1{
        font-size: 18px;
        text-align: left;
    }
    #section4 div p{
        font-size: 13px;
        width: 90%;
    }
    #section5{
        height: 180vh;
    }
    #section5 h1{
        font-size: 65px;
        width: 750px;
    }
    #section5 p{
        width: 700px;
        font-size: 16px;
        margin-top: 7vh;
    }
}
@media(max-width: 1130px){
    #section3o3{
        font-size: 18px;
        margin-top: 1vh;
    }
}
@media(max-width: 1120px){
    #section3o3{
        font-size: 18px;
        margin-top: -1vh;
    }
    #paragraph1{
        font-size: 70px;
    }
}
@media(max-width: 1100px){
    #section3o3{
        font-size: 15px;
        margin-top: -7vh;
    }
    #section4o3{
        font-size: 65px;
    }
    #section4{
        height: 160vh;
    }
    #section1o4{
        display: none;
    }
    #section1o4b{
        display: block;
    }
}
@media(max-width: 1000px){
    nav{
        width: 90%;
    }
    nav div ul{
        display: none;
    }
    #button1{
        display: none;
    }
    #bars{
        display: block;
    }
    #section1{
        width: 80%;
    }
    #section4o2 div:nth-child(1){
        padding-left: 15%;
        height: 35vh;
    }    
    #section4o2{
        width: 80%;
        display: block;
        padding-left: 10%;
    }
    #section4o2 div{
        width: 60%;
    }
    #section4o2 div:nth-child(3){
        margin-left: 0;
    }
    #section3o2{
        height: 280vh;
    }
    #section3{
    display: none;
    }
    #section3b{
        height: 500vh;
        background-color: #F8FAFD;
        padding-top: 25vh;
        display: block;
    }
    #paragraph1{
        font-size: 50px;
        width: 900px;
        margin: auto;
    }
    #section1o3b div:nth-child(1){
        margin-top: -15vh;
    }
    #section5{
        padding-left: 5%;
    }
}
@media(max-width: 900px){
    #paragraph1{
        font-size: 40px;
        width: 90%;
    }
    #section4{
        height: 190vh;
    }
    #section1o4b div{
        height: 30vh;
    }
    #section4 h1{
        font-size: 50px;
        width: 80%;
    }
    #section4 p{
        color: #FFFFFF;
        width: 80%;
        font-size: 16px;
    }
    #section5 h1{
        font-size: 45px;
        width: 80%;
    }
    #section5 p{
        width: 80%;
        font-size: 15px;
    }
}
@media(max-width: 750px){
    #section1{
        margin-left: 3%;
    }
    #section1 h1{
        font-size: 60px;
        line-height: 13vh;
        width: 80%;
    }
    #section1 p{
        font-size: 18px;
    }
    #section2{
        display: block;  
        justify-content: center;
    }
    #section2 div:nth-child(1){
        width: 90%;
        margin: auto;
    }
    #section2 div:nth-child(1) p{
        width: 100%;
        font-size: 15px;
        margin-top: 3vh;
        display: block;
    }
    #section2 div:nth-child(2){
        width: 90%;
        margin-top: 17vh;
        margin: auto;
    }
    #section2 div:nth-child(2) img{
        height: 70vh;
        margin-top: 10vh;
    }
    #section2 div:nth-child(2) p{
        display: none;
    }
    #section2o2 p{
        font-size: 15px;
    }
    #section3o2 h1{
        font-size: 65px;
        width: 80%;
        line-height: 9vh;
    }
    #section4o2 div{
        width: 80%;
        margin-top: 5vh;
    }
    #section4o2 div:nth-child(1){
        height: 50vh;
    }
     #section3o2{
        height: 300vh;
    }
    #section3b{
        height: 450vh;
    }
    #section3 h1{
        font-size: 40px;
    }
    #section2o3b div:nth-child(1) h4{
        margin-top: 0;
    }
    #section3o3b{
        margin-top: -10vh;
    }
    #section4o3b{
        width: 90%;
        font-size: 50px;
    }
}
@media(max-width:650px){
    #section3b{
        height: 430vh;
    }
    #section2o3b div:nth-child(1){
        margin-top: -10vh;
    }
    #paragraph1{
        font-size: 35px;
        width: 90%;
    }
    #section3o3b{
        font-size: 15px;
        width: 90%;
        margin-top: -20vh;
    }
    #section4o3b{
        font-size: 45px;
    }
}
@media(max-width:500px){
    #section3b{
        height: 400vh;
    }
    #section2o3b div:nth-child(1){
        margin-top: -25vh;
    }
    #section3o3b{
        font-size: 15px;
        width: 90%;
        margin-top: -40vh;
    }
    #section4o3b{
        font-size: 35px;
    }
    #section1o4b{
        width: 95%;
    }
    #section1o4b div{
        width: 100%;
    }
    #section5{
        height: 130vh;
    }
    #section5 h1{
        font-size: 35px;
    }
    #section5 p{
        font-size: 12px;
    }
    #section5 ul{
        line-height: 1.5;
        font-size: 15px;
    }
}
@media(max-width: 350px){
    #section1{
        height: 50vh;
    }
    #section1 h1{
        font-size: 25px;
        line-height: 6vh;
        width: 80%;
    }
    #section2 div:nth-child(2) img{
        height: 30vh;
    }
    #section2o2 p{
        font-size: 10px;
    }
    #section3o2 h1{
        font-size: 25px;
        line-height: 7vh;
    }
    #section4o2 div{
        margin-top: 5vh;
    }
    #section4o2 div{
        width: 100%;
    }
    #section4o2 div:nth-child(1){
        height: 70vh;
    }
    nav img{
        width: 50%;
    }
    #section2o3b div:nth-child(1){
        margin-top: -35vh;
    }
    #paragraph1{
        font-size: 25px;
        width: 90%;
    }
    #section3b{
        height: 340vh;
    }
    #section3o3b{
        font-size: 12px;
        width: 90%;
        margin-top: -60vh;
    }
    #section4o3b{
        font-size: 20px;
    }
    #section4 h1{
        font-size: 35px;
    }
    #section1o4b div h1{
        font-size: 16px;
    }
    #section1o4b div p{
        font-size: 12px;
    }
}